<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="https://www.cjexpressenvios.com/media/wysiwyg/alothemes/shopping-cart-empty.png">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="{{ url_for('static', filename='CSS/css_principal.css') }}" rel="stylesheet" type="text/css"> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <title>Principal</title>
    </head>
    <body>
        <div class="bg-dark text-white container-fluid">
            <div class="row">
                <div class="col-md-12 top-segment">
                    <div class="imagen-top-custom">
                        <img id="img1" src="https://number8.com/app/uploads/2023/06/5-Programming-Languages-for-Beginners.png" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-5 separator">

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="texto-1-custom">
                        <p>¿Qué son las maratones de programación UD?</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="texto-2-custom">
                        <p>Son competencias que se realizan cada semestre, y en donde los estudiantes de la facultad de ingenieria pueden participar, en 4 categorias diferentes :D</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="texto-3-custom">
                        <p>Puedes escribir al correo pepito@example.com, alli te daran toda la informacion necesaria. Recuerda que la categoria de la competencia a la que puedes entrar dependera de la materia de programacion mas avanzada que has cursado</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="texto-4-custom">
                        <p>¿Como participar?</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    </body>
</html>

